alias ls='ls -G'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

alias ga='git add'
alias gb='git branch'
alias gl='git log --oneline --graph --decorate'
alias gs='git status'
alias gcam='git commit -a --amend --no-edit'
alias gcb='git switch'
alias gci='git commit -m'
alias gco='git restore'
alias gcp='git cherry-pick'
alias gdi='git diff'
alias gsh='git show'
alias pull='git pull'
alias push='git push'
alias rebase='git rebase'
alias stash='git stash -m'

alias nv=nvim
alias py='uv run python'
alias pip='uv run pip'

alias cabal-install='cabal install --overwrite-policy=always --install-method=copy'
alias cabal-repl='cabal repl --repl-options="-fexternal-interpreter -prof"'
alias cabal-test='cabal test -O0 --enable-tests --test-show-details=direct'
alias ghcid='ghciwatch --clear --no-interrupt-reloads --error-file ghcid.txt'
