alias ls='ls -G'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'

alias gl='git log --oneline'
alias gs='git status'
alias ga='git add'
alias gm='git merge'
alias gci='git commit'
alias gco='git checkout'
alias gbs='git bisect'
alias gdi='git diff'
alias grv='git revert'
alias grs='git restore'
alias gsh='git show'
alias gst='git stash'
alias push='git push'
alias pull='git pull'

alias nv=nvim
alias py=python
alias ipy=ipython

alias cabal-install='cabal install --overwrite-policy=always --install-method=copy'
alias cabal-repl='cabal repl --repl-options="-fexternal-interpreter -prof"'
alias cabal-test='cabal test -O0 --enable-tests --test-show-details=direct'
alias ghcid='ghciwatch --clear --no-interrupt-reloads --error-file ghcid.txt'

alias wcat='python -m aider.scrape'
alias wpdf='playwright pdf'
