Language: Cpp
BasedOnStyle: Google

IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 100

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

AllowAllArgumentsOnNextLine: false
BinPackArguments: true

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false

AlignConsecutiveMacros: true
AlignAfterOpenBracket: Align
