[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[init]
	defaultBranch = main
[user]
	name = duke
	email = duke@home.com
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true
[column]
	ui = auto
[diff]
	algorithm = histogram
	renames = true
	mnemonicPrefix = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[rerere]
	enabled = true
