clj-kondo
.clj-kondo
.lsp/
io.*.llm/
clojure/.*
clojure/tools/
Mousepad/
Thunar/
autostart/
btop/
caddy/
cherrytree/
dconf/
dlv/
gh/
ghc/
godot/
gtk-3.0/
htop/
joyride/
lazygit/
nats/
nautilus/
nextjs-nodejs/
plasma-org.kde.plasma.desktop-appletsrc
powershell/
pulse/
qt5ct/
qterminal.org/
tealdeer/
user-dirs.dirs
user-dirs.locale
xfce4/
go/
uv/
github-copilot/
eca/
