.clj-kondo/
.lsp/
clojure/.*
clojure/tools/
Mousepad/
Thunar/
autostart/
btop/
caddy/
cherrytree/
dconf/
dlv/
gh/
ghc/
gtk-3.0/
htop/
joyride/
nautilus/
nextjs-nodejs/
plasma-org.kde.plasma.desktop-appletsrc
powershell/
pulse/
qt5ct/
qterminal.org/
tealdeer/
user-dirs.dirs
user-dirs.locale
xfce4

