{:lint-as {clojure.alpha.spec/defop  clojure.core/defn
           com.rpl.proxy-plus/proxy+ clojure.core/reify
           dom-top.core/letr clojure.core/let
           dom-top.core/loopr clojure.core/loop}

 :linters {:unresolved-namespace {:exclude [.]}
           :unresolved-symbol    {:exclude [(dom-top.core/loopr)]}
           :unused-namespace     {:exclude [clojure.string
                                            clojure.test
                                            clojure.spec.alpha]}}

 :config-paths []}
